body {
    margin: 0;
    margin-top: 50px;
    font-family: sans-serif;  
}

header {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 50px;
    line-height: 50px;
    background-color: grey;
}

header * {
    display: inline;
    height: 50px;
}

header ul {
    padding: 0;
}

header li {
    margin-left: 30px;
}

section {
    height: 100vh;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-size: cover;
    background-position: center;
}

#hero .profile-img {
    width: 300px;
    border-radius: 50%; 
}
#hero h1 {
    font-size: 3em;
}

section h2 {
    font-size: 2.5em;
    font-size: 55px;
    font-style: italic;
}

section h3 {
    font-size: 1.5em;
}

header a {
    text-decoration: none;
    color: black;
}

#hero {
    background-image: url(umi2.jpg);
    background-position: center;
    background-size: cover;
    height:100vh;
    width:100%;
    color:black;
}

#about {
   background-image: url(opo.jpg);
   background-color: lightgreen;
   font-size: 20px;
   color:#befdf7;
 }

#contact {
   background-image: url(pop.jpg);
   background-color: skyblue;
   font-size: 25px;
   font-style: italic;
   color:#009688;
}
button{
    width: 100px;
    padding: 10px 0;
    margin: 0px 10px;
    text-align: center;
    color: rgb(86,86,86,);
    font-size: 20px;
    border-radius: 20px;
    border: 2px solid black;
    background-color: rgb(60,130,120);
    cursor: pointer;
}
button:hover{
    background-color: white;
    opacity: 0.8;
}
